#introduceMob.ui.special.cards.animated.fadeIn
  .card
    .blurring.dimmable.image
      .ui.dimmer
        .content
          .center
            a.ui.inverted.button(href='./schoolView.html', target='_blank') 查看
      img.lazy(src='./img/liquidambar4.png')
    .content
      a.header(href='./schoolView.html', target='_blank') 校園風華
  .card
    .blurring.dimmable.image
      .ui.dimmer
        .content
          .center
            a.ui.inverted.button(href='./special.html', target='_blank') 查看
      img.lazy(src='./img/pieapple3.png')
    .content
      a.header(href='./special.html', target='_blank') 興大特藏
  .card
    .blurring.dimmable.image
      .ui.dimmer
        .content
          .center
            a.ui.inverted.button(href='./bignews.html', target='_blank') 查看
      img.lazy(src='./img/index/honeycombs3.png')
    .content
      a.header(href='./bignews.html', target='_blank') 大事紀
  .card
    .blurring.dimmable.image
      .ui.dimmer
        .content
          .center
            a.ui.inverted.button(href='//ir.lib.nchu.edu.tw/', target='_blank') 查看
      img.lazy(src='./img/index/honeycombs4.png')
    .content
      a.header(href='//ir.lib.nchu.edu.tw/', target='_blank') 機構典藏
  .card
    .blurring.dimmable.image
      .ui.dimmer
        .content
          .center
            a.ui.inverted.button(href='./principal.html', target='_blank') 查看
      img.lazy(src='./img/index/honeycombs5.png')
    .content
      a.header(href='./principal.html', target='_blank') 歷屆校長
  .card
    .blurring.dimmable.image
      .ui.dimmer
        .content
          .center
            a.ui.inverted.button(href='//archive.nchu.edu.tw/Hsing_Views/', target='_blank') 查看
      img.lazy(src='./img/3603.png')
    .content
      a.header(href='//archive.nchu.edu.tw/Hsing_Views/', target='_blank') 360°環景
  .card
    .blurring.dimmable.image
      .ui.dimmer
        .content
          .center
            a.ui.inverted.button(href='//archive.nchu.edu.tw/Hsing_History/', target='_blank') 查看
      img.lazy(src='./img/chizu.png')
    .content
      a.header(href='//archive.nchu.edu.tw/Hsing_History/', target='_blank') 校景導覽
  .card
    .blurring.dimmable.image
      .ui.dimmer
        .content
          .center
            a.ui.inverted.button(href='#', target='_blank') 查看
      img.lazy(src='./img/index/honeycombs8.png')
    .content
      a.header(href='#', target='_blank') 興大人
  .card
    .blurring.dimmable.image
      .ui.dimmer
        .content
          .center
            a.ui.inverted.button(href='./audiohistory.html', target='_blank') 查看
      img.lazy(src='./img/talk4.png')
    .content
      a.header(href='./audiohistory.html', target='_blank') 口述校史
  .card
    .blurring.dimmable.image
      .ui.dimmer
        .content
          .center
            a.ui.inverted.button(href='./visitor.html', target='_blank') 查看
      img.lazy(src='./img/index/honeycombs10.png')
    .content
      a.header(href='./visitor.html', target='_blank') 訪客足跡