#audiohistory iframe {
  width: 450px;
  height: 300px;
  margin: 0px auto;
  display: block;
}
#audiohistory table {
  width: 100%;
}
#audiohistory table tr {
  border-bottom: 1px gray solid;
}
#audiohistory table td {
  font-size: 16px;
  padding: 10px 15px;
}
#audiohistory table td:first-child {
  width: 40%;
}
