extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/alumni.css')
block content
  #outstanding.ui.container
    h1.title 傑出校友
    .alumni_center
      p 資料來源：
        a(href='http://alumni.nchu.edu.tw/' target='_blank') 校友中心
    .outstanding(v-for='sessions, index in outstanding')
      h2.session
        | 第
        | {{ index+1 }}
        | 屆 (
        | {{ 1997+index }}
        | 年)

      .ui.stackable.grid
        .four.wide.column.pic(v-for='data in sessions')
          .ui.special.cards
            .ui.card
              a.image(:href='"./data/pdf/" + data.num + ".pdf"', target='_blank')
                img.lazy(:src='"./img/outstanding/" + data.num + "_" + data.name + ".png"')
              .content
                p.header(:href='"./data/pdf/" + data.num + ".pdf"', target='_blank') {{ data.name }}
    .alumni_center
      p 資料來源：
        a(href='http://alumni.nchu.edu.tw/' target='_blank') 校友中心

          

block js
  script(src='./js/alumni.js')
