extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/alumni.css')
block content
  head
  #outstanding.ui.container
    h1.title 傑出校友
    h2.session 第20屆
    .ui.stackable.grid
      .four.wide.column.pic
        a(href='#')
          img.alu-img(src='./img/1.png')
          p.alu-name 奇怪的伯伯
      .four.wide.column.pic
        a(href='#')
          img.alu-img(src='./img/1.png')
      .four.wide.column.pic
        a(href='#')
          img.alu-img(src='./img/1.png')
      .four.wide.column.pic
        a(href='#')
          img.alu-img(src='./img/1.png')
      .four.wide.column.pic
        a(href='#')
          img.alu-img(src='./img/1.png')
      .four.wide.column.pic
        a(href='#')
          img.alu-img(src='./img/1.png')
