extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/alumni.css')
block content
  #outstanding.ui.container
    h1.title 傑出校友
    .outstanding(v-for='sessions, index in outstanding')
      h2.session
        | 第
        | {{ index+1 }}
        | 屆
      .ui.stackable.grid
        .four.wide.column.pic(v-for='data in sessions')
          a(:href='"/data/pdf/" + data.num + ".pdf"', target='_blank')
            img.alu-img(:src='"/img/outstanding/" + data.num + "_" + data.name + ".png"')
            p.alu-name {{ data.name }}
block js
  script(src='/js/alumni.js')
