extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/audiohistory.css')
block content
  #audiohistory.ui.container.animated.fadeIn
    h1.title 口述校史
    .ui.grid
      .eight.wide.column
        iframe(src='https://www.youtube.com/embed/k_gXG8ARtwU', frameborder='0', allowfullscreen)
      .eight.wide.column
        table
          tr
            td 訪談對象
            td
              | 退休人員聯會會長 森林系 李久先教授
          tr
            td 訪談時間
            td 2012.05.04
          tr
            td 訪談人員
            td
              | 校史館組 李毓嵐組長
              br
              | 徐義法 助理
              br
              | 林瑋禾 助理
          tr
            td 訪談整理
            td
              a(href='./data/audiohistory_pdf/oralhistory1.pdf') 點此下載pdf
      .eight.wide.column
        iframe(src='https://www.youtube.com/embed/0kWN-RQ-OSE', frameborder='0', allowfullscreen)
      .eight.wide.column
        table
          tr
            td 訪談對象
            td
              | 園藝系 范念慈教授
          tr
            td 訪談時間
            td 2012.05.10、2012.06.01
          tr
            td 訪談人員
            td
              | 校史館組 李毓嵐組長
              br
              | 徐義法 助理
              br
              | 林瑋禾 助理
          tr
            td 訪談整理
            td
              a(href='./data/audiohistory_pdf/oralhistory2.pdf') 點此下載pdf
      .eight.wide.column
        iframe(src='https://www.youtube.com/embed/Dl_Rhy1s5Xs', frameborder='0', allowfullscreen)
      .eight.wide.column
        table
          tr
            td 訪談對象
            td
              | 前人事主任 洪作賓教授
          tr
            td 訪談時間
            td 2012.06.15
          tr
            td 訪談人員
            td
              | 校史館組 李毓嵐組長
              br
              | 徐義法 助理
              br
              | 林瑋禾 助理
          tr
            td 訪談整理
            td
              a(href='./data/audiohistory_pdf/oralhistory3.pdf') 點此下載pdf
      .eight.wide.column
        iframe(src='https://www.youtube.com/embed/k9gi6ixD9gU', frameborder='0', allowfullscreen)
      .eight.wide.column
        table
          tr
            td 訪談對象
            td
              | 園藝系 范念慈教授
          tr
            td 訪談時間
            td 2012.05.10、2012.06.01
          tr
            td 訪談人員
            td
              | 校史館組 李毓嵐組長
              br
              | 徐義法 助理
              br
              | 林瑋禾 助理
          tr
            td 訪談整理
            td
              a(href='./data/audiohistory_pdf/oralhistory4.pdf') 點此下載pdf

block js
