extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/timeline.css')
  link(rel='stylesheet', type='text/css', href='./style/bignews.css')
block content
  #bigNews.ui.container(v-cloak)
    h1.item-title 校史大事記 - {{ periods }}
    #periods
      button.ui.blue.button(v-on:click='switchPeriods(0)')
        | 台灣總督府時期
        br
        | 1912~1945
      button.ui.blue.button(v-on:click='switchPeriods(1)')
        | 省立農學院時期
        br
        | 1945~1971
      button.ui.blue.button(v-on:click='switchPeriods(2)')
        | 國立中興大學時期
        br
        | 1971~至今
    #news
      section#cd-timeline.cd-container
        .cd-timeline-block(v-for='item in timeline')
          .cd-timeline-img.cd-picture
            i.fa.fa-trophy.fa-fw(v-bind:class='{ active: item.type == 1 }')
            i.fa.fa-book.fa-fw(v-bind:class='{ active: item.type == 2 }')
            i.fa.fa-newspaper-o.fa-fw(v-bind:class='{ active: item.type == 3 }')
          .cd-timeline-content
            span.cd-date {{ item.date }}
            h2.timelineTitle {{ item.title }}
            p.text(v-html='item.text')
            img.media(v-bind:src='item.media' v-if='item.media != "null"')
            //- p {{ item.media }}
            p.mediaCaption {{ item.caption }}
            p.mediaCredit {{ item.credit }}



block js
  script(src='./js/modernizr.js')
  script(src='./js/timeline.js')
  script(src='./js/bignews.js')
