extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/dspace.css')
block content
  #dspace.ui.container
    h1.title 中興大學機構典藏
    .ui.grid
      .eight.wide.column
        img(src='http://imgur.com/qaCGHui.jpg')
      .eight.wide.column
        p 中興大學目前擁有許多學術資源及特殊典藏，這些文獻資源種類繁雜且分置各處，如未能有系統的建置及整合文獻資料，將導致資源的使用率及能見度低落，也造成教學研究的不便。
        p 機構典藏期望能給予師生資源面及技術面的協助，提高教學品質及研究數量，爲整合保存本校學術成果及珍貴資料盡一份心力。

block js
