extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/emblem.css')
block content
  #emblem.ui.container
    h1.title 校徽
    .ui.grid
      .eight.wide.column
        img(src='./img/emblem.gif')
      .context.eight.wide.column
        p 中興大學之校徽圖案在1972年春，公開徵求設計圖案，於五十多件應徵作品中選出一件，並經審查會議、行政會議、校務會議等程序審查通過後採用。
        h2 圖案意義
        p 正中六十齒圓圈象徵光芒四射，照耀寰宇；並象徵中興大學於中華民國建國六十年改制國立；又六十年為一甲子，表週而復始，億萬斯年。而其中白底和銀白色象徵「樸」素，「誠」實、純潔。金黃色象徵「精」、「勤」，堅毅與光輝。圓圈內淺藍色，象徵智慧，如深水之色，「智者樂水」之意。
        h2 圖案形狀
        p 為等邊三角形。中文校名「國立中興大學」由右至左排於上方，正體字，英譯校名 National Chung Hsing University 自左至右，排於下方成U字形。在中央為六十齒輪之圓圈，內為「興大」兩字，藝術簡體。而三邊，英譯校名、及「興大」兩字，均為銀白色，底部為白色，圓圈內 為淺藍色，六十圓圈齒輪及中文校名為金黃色。


block js
