extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/flag.css')
block content
  #flag.ui.container
    h1.title 校旗
    .ui.grid
      .eight.wide.column
        img(src='./img/flag.gif')
      .context.eight.wide.column
        p 校旗圖案在1972年春，公開徵求設計圖案，在五十多件應徵作品中選出一件，並經審查會議、行政會議、校務會議等程序審查通過後採用。
        p 長方形，黃底，上方自右至左橫書「國立中興大學」，正楷字。
        p 中間為六十齒輪圓圈，內書「興大」二字，均白色；
        p 其下書校訓「誠、樸、精、勤」四字，篆體，繞圓圈下，成半月形，自右至左，鮮明簡樸，頗為典雅。


block js
