extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/about.css')
block content
  #flowertree.ui.container
    h1.title 校花校樹
    h3 校花：臺灣蝴蝶蘭 Phalaenopsis aphrodite
    .ui.grid
      p 冬去春來，新枝冒出了綠芽，努力向太陽爭取青睞；挺直腰稈的花兒，亦不獨自美麗，紛紛招惹蟲子們的拜訪。校園裡的一花一木，誰是我們在校時，牽手漫步校園小徑時的芬芳；誰是我們畢業後，回憶往昔校園景緻的參天大樹。 為塑造校園文化的形象，男女宿服務委員會於2012年4月到6月特舉行「中興大學校樹及校花票選活動」，選出代表本校精神與凝聚向心力的校樹及校花。
      .eight.wide.column
        img(src='./img/flower1.png')
      .eight.wide.column
        img(src='./img/flower2.png')

      .context.sixteen.wide.column
        p 為名氣響亮的臺灣原生蘭花，全世界蘭花競賽常勝軍，潔白花色，宛如白蝶的迷人花型，成為臺灣代表花卉植物。（圖片拍攝者：園藝系 張正 老師）

    h3 校樹：楓香 Liquidambar formosana Hance
    .ui.grid
      .eight.wide.column
        img(src='./img/tree1.png')
      .eight.wide.column
        img(src='./img/tree2.png')

      .context.sixteen.wide.column
        p 科名：金縷梅科 (Hamamelidaceae)
        p 別稱：台灣香膠樹、楓樹、楓子樹、楓仔樹、楓仔
        p 分布：臺灣1000公尺以下的山區及中國大陸
        p 位置：為行政大樓與綜合大樓間弘道路之行道樹
        p 特色：楓香是落葉大喬木，樹形優美，每當秋冬片片紅葉落下時，詩情畫意般的美，常勾起大學純真的回憶!尤其位於女生宿舍前楓香樹下，多少的癡情男曾經流連忘返。象徵「往日情懷」，許多校園中美麗浪漫的故事都是在楓香樹下編織成。 （資料及圖片提供者：森林系 曾彥學老師）

block js
