#footer
  #footBlock
    .ui.container
      .ui.grid
        #footerLogo.five.wide.column
          a(href='http://www.lib.nchu.edu.tw/index.php/' target='_blank')
            img(src='http://www.lib.nchu.edu.tw/images/banners/lib_logo.png')
        #footerConnection.eleven.wide.column
          h3 聯絡我們
          p
            i.fa.fa-fw.fa-user
            | 維護單位 校史館組
          p
            i.fa.fa-fw.fa-phone
            | 電話 (04)22840290#412
          p
            i.fa.fa-fw.fa-fax
            | 傳真 (04)22873454
          p
            i.fa.fa-fw.fa-envelope
            | E-mail nchuir@gmail.com
          p
            i.fa.fa-fw.fa-map-marker
            | 地址 台中市402南區興大路145號 中興大學圖書館校史館組
