#footer
  #footBlock
    .ui.container
      .ui.grid
        #footerLogo.five.wide.column
          a(href='http://www.lib.nchu.edu.tw/index.php/' target='_blank')
            img(src='http://www.lib.nchu.edu.tw/images/banners/lib_logo.png')
        #footerConnection.eleven.wide.column
          h3 Contact us
          p
            i.fa.fa-fw.fa-phone
            | Tel： (04)22840290#412
          p
            i.fa.fa-fw.fa-envelope
            | E-mail： nchuir@gmail.com
          p
            i.fa.fa-fw.fa-map-marker
            | location： 145 Xingda Rd., South Dist., Taichung City 40227, Taiwan (R.O.C.)
