#footer
  .ui.container
    .ui.equal.width.grid
      .column
        img#footerLogo(src='http://www.lib.nchu.edu.tw/images/banners/lib_logo.png')
      .column
        p
          i.volume.control.phone.icon
          | (04) 22840290#412
        p
          i.fax.icon
          | (04) 22873454
      .column
