extends layout
block css
	link(rel='stylesheet', type='text/css', href='./style/main.css')
block content
	.ui.segment.main
		h1 Hi ^_^
	.ui.segment
		img.ui.fluid.image(src='//cdn.litlepups.net/2015/07/24/cute-cats-wallpapers-hd-wallpaper-quotes.jpg')
	.ui.segment
		img.ui.fluid.image(src='//cdn.wallpapersafari.com/3/64/GXwBhs.jpg')

