extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/homeycombs.css')
  link(rel='stylesheet', type='text/css', href='./style/main.css')
block content
  #slider
    img(src='./img/slide1.jpg')


block js
  script(src='./js/jquery.homeycombs.js')
