extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/homeycombs.css')

  link(rel='stylesheet', type='text/css', href='./style/owl.carousel.min.css')
  link(rel='stylesheet', type='text/css', href='./style/owl.theme.default.min.css')
  link(rel='stylesheet', type='text/css', href='./style/index.css')
block content
  .ui.container
    #slider
      .owl-carousel.owl-theme
        .item
          img.lazy(src='./img/slide/slide1.jpg')
        .item
          img.lazy(src='./img/slide/slide2.jpg')

    //- #exhibition
    //-   .ui.equal.width.grid
    //-     .column
    //-       button.ui.teal.button 興大特藏
    //-     .column
    //-       button.ui.teal.button 印象之外特展

    #introduce
      .honeycombs
        a.comb(href='./schoolView.html')
          img.lazy(src='./img/index/honeycombs1.png')
          span 校園風華
        a.comb(href='./special.html')
          img.lazy(src='./img/index/honeycombs2.png')
          span 興大特藏
        a.comb(href='./bignews.html')
          img.lazy(src='./img/index/honeycombs3.png')
          span 大事紀
        a.comb(href='./schoolView.html')
          img.lazy(src='./img/index/honeycombs4.png')
          span 機構典藏
        a.comb(href='./principal.html')
          img.lazy(src='./img/index/honeycombs5.png')
          span 歷屆校長
        a.comb(href='http://archive.nchu.edu.tw/Hsing_Views/', target='_blank')
          img.lazy(src='./img/index/honeycombs6.png')
          span 360°環景
        a.comb(href='http://archive.nchu.edu.tw/Hsing_History/', target='_blank')
          img.lazy(src='./img/index/honeycombs7.png')
          span 校景導覽
        a.comb(href='#')
          img.lazy(src='./img/index/honeycombs8.png')
          span 興大人
        a.comb(href='./audiohistory.html')
          img.lazy(src='./img/index/honeycombs9.png')
          span 口述校史
        a.comb(href='./visitor.html')
          img.lazy(src='./img/index/honeycombs10.png')
          span 訪客足跡
    #introduceMob
      .ui.vertical.menu
        a.item(href='#') 興大特藏
        a.item(href='#') 大事紀
        a.item(href='#') 校景變遷
        a.item(href='#') 360°環景
        a.item(href='#') 校景導覽
        a.item(href='#') 興大人
        a.item(href='#') 校景變遷
        a.item(href='#') 口述校史
        a.item(href='#') 大事紀

    #history
      img.lazy(data-original='./img/history.jpg')

block js
  script(src='./js/jquery.homeycombs.js')
  script(src='./js/owl.carousel.min.js')
  script(src='./js/index.js')
