doctype html
html(lang='en')
  head
    title 興湖記事
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='YoYoHung, Sakamoto')
    link(rel='stylesheet', href='./style/semantic.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='./style/main.css')
    link(rel='stylesheet', type='text/css', href='./style/navbar.css')
    link(rel='stylesheet', type='text/css', href='./style/footer.css')
    block css

  body
    include ./navbar.pug
    block content

    include ./footer.pug

    script(src='//code.jquery.com/jquery-2.2.3.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js')
    script(src='./js/semantic.min.js')
    script(src='./js/topSection.js')
    block js
