doctype html
html(lang='en')
  head
    title 興湖紀事
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='YoYoHung, Sakamoto, Ray')
    meta(property='og:title', content='興湖記事')
    meta(property='og:image', content='http://archive.nchu.edu.tw/dist/img/logo.png')
    meta(property='og:description', content='國立中興大學校史資源網頁')
    link(rel='shortcut icon' type='image/x-icon' href='./img/favicon.ico')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='./style/loader.css')
    link(rel='stylesheet', href='./style/animate.css')
    link(rel='stylesheet', href='./style/main.css')
    link(rel='stylesheet', href='./style/navbar.css')
    link(rel='stylesheet', href='./style/footer.css')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-32376874-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-32376874-1');
    block css

  body
    include ./navbar.pug
    #loading
      .loader Loading...
    .waitload
      block content
    .waitload
      include ./footer.pug

    script(src='./js/lib/jquery.min.js')
    script(src='./js/lib/jquery.lazyload.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js')
    script(src='./js/topSection.js')
    script(src='./js/main.js')
    block js
