#logo.ui.container
  a(href='./index.html')
    img(src='http://www.lib.nchu.edu.tw/images/banners/lib_logo.png')
#topMenu.tab-nav
  ul
    li
      a(href='#') 興大人
    li.dropdown
      a.dropbtn 關於興大
      .dropdown-content
        a(href='./word.html') 校訓
        a(href='./emblem.html') 校徽
        a(href='#') 校歌
        a(href='#') 校旗
        a(href='./flowertree.html') 校花校樹
    li
      a(href='./bignews.html') 大事紀
    li
      a(href='./special.html') 興大特藏
    li
      a(href='./visit.html') 參觀資訊
    li
      a(href='#') 相片集

#scrollMenu.tab-nav
  ul
    li
      a(href='#') 興大人
      li.dropdown
        a.dropbtn 關於興大
        .dropdown-content
          a(href='./word.html') 校訓
          a(href='./emblem.html') 校徽
          a(href='#') 校歌
          a(href='#') 校旗
          a(href='./flowertree.html') 校花校樹
    li
      a(href='./bignews.html') 大事紀
    li
      a(href='./special.html') 興大特藏
    li
      a(href='./visit.html') 參觀資訊
    li
      a(href='#') 相片集
