#header
  #logo.ui.container
    a(href='./index_Englist.html')
      img(src='./img/logo.png' style="max-width: 100%")



#topMenu.tab-nav
  ul.topnav
    li
      a(href='https://secret.nchu.edu.tw/校友中心/傑出校友/') Alumni center
    li.dropdown
      a.dropbtn about NCHU
      .dropdown-content
        a(href='./word_English.html') motto
        a(href='./emblem_English.html') badge
        a(href='./song_English.html') song
        a(href='./flag_English.html') flag
        a(href='./flowertree_English.html') plants
        a(href='./principal_English.html') History of the presidency
        a(href='http://archive.nchu.edu.tw/Hsing_History/') Guide map
    li
      a(href='./schoolView_English.html') Campus
    li
      a(href='./bignews_English.html') Events
    li.dropdown
      a.dropbtn Special collection
      .dropdown-content
        #a(href='http://archive.nchu.edu.tw/specialCollection/') Special data 
        a(href='./special_English.html') Digital data
    li.dropdown
      a.dropbtn Gallery of History
      .dropdown-content
        a(href='./origin_English.html') Origin
        a(href='./rules_English.html') Regulations
        a(href='http://archive.nchu.edu.tw/Hsing_Views/') 360-degree panorama
    li.dropdown 
      a.dropbtn Visit
      .dropdown-content
        a(href='./visit_English.html') Information
        a(href='./visitor_English.html') Visitor trails
    li
      a(href='./exhibition_English.html') Special exhibition

#topMenu_small.sidenav
  a.closebtn(href='javascript:void(0)' onclick='closeNav()')
    button.ui.icon.button
      i.fas.fa-times
  a(href='https://secret.nchu.edu.tw/校友中心/傑出校友/') Alumni center
  a about NCHU
  a.droplist(href='./word_English.html') motto
  a.droplist(href='./emblem_English.html') badge
  a.droplist(href='./song_English.html') song
  a.droplist(href='./flag_English.html') flag
  a.droplist(href='./flowertree_English.html') plants
  a.droplist(href='./principal_English.html') History of the presidency
  a.droplist(href='http://archive.nchu.edu.tw/Hsing_History/') Guide map
  a(href='./schoolView_English.html') Campus
  a(href='./bignews_English.html') Events
  a Special collection
  #a.droplist(href='http://archive.nchu.edu.tw/specialCollection/') Special data
  a.droplist(href='./special_English.html') Digital data
  a Gallery of History
  a.droplist(href='./origin_English.html') Origin
  a.droplist(href='./rules_English.html') Regulations
  a.droplist(href='http://archive.nchu.edu.tw/Hsing_Views/') 360-degree panorama
  a Visit
  a.droplist(href='./visit_English.html') Information
  a.droplist(href='./visitor_English.html') Visitor trails
  a(href='./exhibition_English.html') Special exhibition


div.topnav_s(style='font-size:30px; cursor:pointer' onclick='openNav()')
  button.ui.icon.button.openNav
    i.fas.fa-bars

