img#logo(src='http://www.lib.nchu.edu.tw/images/banners/lib_logo.png')
#topMenu.tab-nav
  ul
    li
      a(href='#') 興大人
    li
      a(href='#') 大事紀
    li
      a(href='#') 機構典藏
    li
      a(href='#') 興大特藏
    li
      a(href='#') 參觀資訊
    li
      a(href='#') 相片集

#scrollMenu.tab-nav
  ul
    li
      a(href='#') 興大人
    li
      a(href='#') 大事紀
    li
      a(href='#') 機構典藏
    li
      a(href='#') 興大特藏
    li
      a(href='#') 參觀資訊
    li
      a(href='#') 相片集
