#header
  #logo.ui.container
    a(href='./index.html')
      img(src='./img/logo.png' style="max-width: 100%")



#topMenu.tab-nav
  ul.topnav
    li.dropdown
       a.dropbtn 興大人#[br]NCHU
       .dropdown-content
         a(href='https://secret.nchu.edu.tw/tag/%e8%88%88%e5%a4%a7%e6%a0%a1%e5%8f%8b/') 校友中心#[br] Alumni center
         a(href='https://nantou.nchu.edu.tw/') 南投分部#[br] NCHU at NANTOU
    li.dropdown
      a.dropbtn 關於興大#[br]about NCHU
      .dropdown-content
        a(href='./word.html') 校訓  motto
        a(href='./emblem.html') 校徽  badge
        a(href='./song.html') 校歌  song
        a(href='./flag.html') 校旗  flag
        a(href='./flowertree.html') 校花校樹  plants
        a(href='./principal.html') 歷屆校長#[br]History of the presidency
        a(href='http://archive.nchu.edu.tw/Hsing_History/') 校史地景導覽  Guide map
    li
      a(href='./schoolView.html') 校園風華#[br]Campus
    li
      a(href='./bignews.html') 大事紀#[br]Events
    li.dropdown
      a.dropbtn 興大特藏#[br]Special collection
      .dropdown-content
        #a(href='http://archive.nchu.edu.tw/specialCollection/') 特藏資料 Special data 
        a(href='./special.html') 數位特藏資料 Digital data
    li.dropdown
      a.dropbtn 認識校史館#[br]Gallery of History
      .dropdown-content
        a(href='./origin.html') 校史館緣起 Origin
        a(href='./rules.html') 校史館規章 Regulations
        a(href='http://archive.nchu.edu.tw/Hsing_Views/') 校史館360度環景#[br]360-degree panorama
    li.dropdown 
      a.dropbtn 參觀校史館#[br]Visit
      .dropdown-content
        a(href='./visit.html') 參觀資訊 Information
        a(href='./visitor.html') 訪客足跡 Visitor trails
    li
      a(href='./comic.html') 漫畫校史#[br]Comic
    li
      a(href='./exhibition.html') 校史館特展#[br]Special exhibition

#topMenu_small.sidenav
  a.closebtn(href='javascript:void(0)' onclick='closeNav()')
    button.ui.icon.button
      i.fas.fa-times
  a(href='https://secret.nchu.edu.tw/校友中心/傑出校友/') 興大人
  a 關於興大
  a.droplist(href='./word.html') 校訓
  a.droplist(href='./emblem.html') 校徽
  a.droplist(href='./song.html') 校歌
  a.droplist(href='./flag.html') 校旗
  a.droplist(href='./flowertree.html') 校花校樹
  a.droplist(href='./principal.html') 歷屆校長
  a.droplist(href='http://archive.nchu.edu.tw/Hsing_History/') 校史地景導覽
  a(href='./schoolView.html') 校園風華
  a(href='./bignews.html') 大事紀
  a 興大特藏
  #a.droplist(href='http://archive.nchu.edu.tw/specialCollection/') 特藏
  a.droplist(href='./special.html') 數位特藏資料
  a 認識校史館
  a.droplist(href='./origin.html') 校史館緣起
  a.droplist(href='./rules.html') 校史館規章
  a.droplist(href='http://archive.nchu.edu.tw/Hsing_Views/') 校史館360度環景
  a 參觀校史館
  a.droplist(href='./visit.html') 參觀資訊
  a.droplist(href='./visitor.html') 訪客足跡
  a(href='./comic.html') 漫畫校史
  a(href='./exhibition.html') 校史館特展


div.topnav_s(style='font-size:30px; cursor:pointer' onclick='openNav()')
  button.ui.icon.button.openNav
    i.fas.fa-bars

