extends layout
block css
	link(rel='stylesheet', type='text/css', href='.style/outstanding.css')
block content
	#outstanding.ui.container

		h2.title 第20屆
		hr
		
		.ui.grid
			.four.wide.column
				img.ui.circular.image(src='./img/principal300x300/22.png')
			.four.wide.column
				img.ui.circular.image(src='./img/principal300x300/22.png')
			.four.wide.column
				img.ui.circular.image(src='./img/principal300x300/22.png')
				
			.four.wide.column
				img.ui.circular.image(src='./img/principal300x300/22.png')
				
			.four.wide.column
				img.ui.circular.image(src='./img/principal300x300/22.png')
				
			.four.wide.column
				img.ui.circular.image(src='./img/principal300x300/22.png')
				
			.four.wide.column
				img.ui.circular.image(src='./img/principal300x300/22.png')
				
