extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/rules.css')
block content
  #rules.ui.container
    h2.title 國立中興大學校史資料徵集辦法
    p.date 中華民國101年3月29日第1次校史資料編審暨發展委員會訂定
    ul
      li 第一條 國立中興大學﹙以下簡稱本校﹚為徵集發展歷程中產生之具有保存價值的資料，以記錄本校歷史，特訂定本辦法。
      li 第二條 校史資料之徵集由圖書館校史館組負責，必要時得由各單位協助配合。
      li 第三條 校史資料徵集，範圍涵蓋公文、文物、學術出版品、圖像及影像紀錄、新聞報導及其他校內各單位有關史事資料等，並依捐贈、移轉、購置、借展等途徑徵集。
      li 第四條 校史資料以具有歷史或紀念意義為徵集原則。
      li 第五條 捐贈校史文物者須簽署「捐贈同意書」，同意永久捐贈；若僅願出借者，將商請以攝影或掃瞄方式存檔典藏與展出。本校將致贈感謝狀以表謝意。
      li 第六條 凡徵集之文物，若遇難以取捨或有爭議者，送交本校校史資料編審暨發展委員會鑑選典藏，未經選入者，歸還原典藏單位或提供者。
      li 第七條 徵集之檔案文物經鑑選後，將依資料類型典藏於校史館或圖書館特藏室。
      li 第八條 為保存徵集之珍貴文物，將製作複製品或以數位化方式保存及展出。
      li 第九條 本辦法經國立中興大學校史資料編審暨發展委員會通過，陳請校長核定後實施。
block js
