extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/rules.css')
block content
  #rules.ui.container
    h1.title 校史館規章辦法
    ul
      li 
        a(href='./data/rules_data/f02.pdf' target='_blank') 國立中興大學校史資料徵集辦法
      li 
        a(href='./data/rules_data/f03.pdf' target='_blank') 國立中興大學校史資料註銷辦法
      li 
        a(href='./data/rules_data/f01.pdf' target='_blank') 國立中興大學校史資料編審暨發展委員會設置要點
      li 
        a(href='./data/rules_data/f04.pdf' target='_blank') 國立中興大學機構典藏徵集辦法
      li 
        a(href='./data/rules_data/f05.pdf' target='_blank') 國立中興大學機構典藏系統作業要點
    h2.apply 參觀申請表
    ul
      li 
        a(href='./data/rules_data/h06.doc' target='_blank') 國立中興大學圖書館團體參觀導覽服務申請表
      


block js
