extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/rules.css')
block content
  #rules.ui.container
    h1.title 校史館規章辦法
    ul
      li 
        a(href='./rules_1.html') 國立中興大學校史資料徵集辦法
      li 
        a(href='./rules_2.html') 國立中興大學校史資料註銷辦法
      li 
        a(href='./rules_3.html') 國立中興大學校史資料編審暨發展委員會設置要點

block js
