extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/rules.css')
block content
  #rules.ui.container
    h2.title 國立中興大學校史資料編審暨發展委員會設置要點
    p.date 中華民國 101 年 1 月 4 日第 367 次行政會議訂定
    ul
      li 第一條 國立中興大學（以下簡稱本校）為編纂本校校史、建立校史文物之蒐集與審查機制、規劃校史展示空間與導覽活動、保存與運用校史及相關文物，特設置「國立中興大學校史資料編審暨發展委員會」（以下簡稱本會）。
      li 第二條 本會設委員 13 至 15 人，任期 2 年，圖書館館長為當然委員，其餘委員由秘書室、人事室、會計室、各學院、校友聯絡中心、退休人員聯誼會各推舉 1-2 位代表，經校長圈選後，組成之。
      li 第三條 首次會議開會時，由委員互相推選主席。圖書館校史館組組長擔任該會秘書，提出校史資料編審及發展實施計畫，執行與本會相關行政事務並負責聯繫事項。
      li 第四條 本會之職責如下：
        p 一、審查每年度校史編撰及發展工作計畫、年度經費預算相關事宜，並檢視實施成果。
        p 二、研擬及審查校史業務相關規則辦法及作業機制。
        p 三、協調各單位協助校史文物徵集。
        p 四、指導與協助校史出版品編纂事宜。
        p 五、建議之新增工作事項。
      li 第五條 本會每學期至少開會 1 次，得視實際需要召開臨時會議，必要時得請相關人員列席。
      li 第六條 本辦法經行政會議通過後施行，修正時亦同。
block js
