extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/rules.css')
block content
  #rules.ui.container
    h2.title 國立中興大學校史資料註銷辦法
    p.date 中華民國101年3月29日第1次校史資料編審暨發展委員會訂定
    ul
      li 第一條 國立中興大學﹙以下簡稱本校﹚為辦理校史資料註銷作業，特訂定本辦法。
      li 第二條 所稱「註銷」定義乃將某一藏品從館藏中永久除去的手續。若藏品符合下列情形之一者，得依本辦法辦理註銷。
        p 一、不符合本校校史資料徵集辦法所定範圍。
        p 二、遭竊或遺失。
        p 三、毀損且無法修復。
        p 四、不具有重複收藏意義。
      li 第三條 註銷作業依下列程序辦理：
        p 一、評估：由圖書館校史館組評估待註銷之藏品是否符合註銷原則，檢視後將待註銷的資料編列成冊，述明申請註銷的理由及建議的處理方式。
        p 二、審查：召開「校史資料編審暨發展委員會」會議審議核定，會議表決須有過半數委員出席及過半數以上出席者同意行之。
        p 三、執行：前款審議核定後之註銷案，由圖書館校史館組於相關登錄檔案上加填註銷紀錄，並進行後續處理。
      li 第四條 藏品註銷與處理之前，如有限制條件或另有規定應依相關規定辦理。
      li 第五條 所有註銷之藏品登錄檔案應於完成作業後留存備查。
      li 第六條 本辦法經國立中興大學校史資料編審暨發展委員會通過，陳請校長核定後實施。 
block js
