extends layout
block css
  link(rel='stylesheet', type='text/css', href='./style/special.css')
block content
  #special.ui.container.animated.fadeIn
    h1.title 數位特藏資料

    h2 中興大學機構典藏
    .ui.grid
      .webView.eight.wide.column
        a(href='http://ir.lib.nchu.edu.tw/', target='_blank')
          img.lazy(src='./img/special/special2.png', width='450px')
      .eight.wide.column
        p 中興大學目前擁有許多學術資源及特殊典藏，這些文獻資源種類繁雜且分置各處，如未能有系統的建置及整合文獻資料，將導致資源的使用率及能見度低落，也造成教學研究的不便。
        p 機構典藏期望能給予師生資源面及技術面的協助，提高教學品質及研究數量，爲整合保存本校學術成果及珍貴資料盡一份心力。
        a(href='http://ir.lib.nchu.edu.tw/', target='_blank') 網站連結
    h2 日治時期臺灣農業史料數位典藏
    .ui.grid
      .webView.eight.wide.column
        a(href='http://tahda.lib.nchu.edu.tw/gs32/nchudc/intro.html', target='_blank')
          img.lazy(src='./img/special/special1.png', width='450px')
      .eight.wide.column
        p 中興大學成立歷史悠久，在日治時期大正八年（1919），臺灣總督府為開發臺灣農林資源，培養農林人才，設立「農林專門學校」，即為本校前身。昭和三年（1928）總督府在臺北高等農林學校校址設立「臺北帝國大學」，同時將本校前身併入，改制為「臺北帝國大學附屬農林專門部」。
        p 民國九十四至九十五年配合圖書館新館落成，本館積極執行日治時期農林類資料之整理工作，陸續整理出＜卒業報文＞、＜臺灣農業資料＞。其中＜卒業報文＞為當時學生所寫畢業論文，主要以臺灣農業主題為研究中心，其主要涵蓋範圍有臺灣植生、土壤、運輸技術、市場調查等，研究領域範圍甚廣，型態為「全手抄本」，這批獨特的珍貴資料，將當時重要研究文獻加以保存，均為研究日治時期農業變遷之重要學術資源，但因資料年代久遠、紙質脆弱，調閱使用易造成損壞，對資料的保存造成極大的影響。
        p 因此，中興大學圖書館希望透過參與國科會「數位典藏國家型科技計畫」，達到文化保存及推廣教育利用目的，第一期擬將＜卒業報文＞進行數位化影像典藏，並為資料逐一建立標準化可交換之「後設資料」（Metadata），建置館藏臺灣農業文獻史料資料庫，使該批深具臺灣農業文化特色之資料，能以資訊及網路化方式即時供大眾查詢使用，支援相關學術之研究，使國家文化資產得以供全民共享。
        a(href='http://tahda.lib.nchu.edu.tw/gs32/nchudc/intro.html', target='_blank') 網站連結
    // - h2 漫畫校史4－學餐 小禮堂 頂橋仔
      .ui.grid
        .webView.eight.wide.column
          img.lazy.book(src='./img/special/special13.png', width='450px')
        .eight.wide.column
          a.btn(href='/data/special/special13.pdf', target='_blank') 閱覽PDF
    // - h2 漫畫校史3－校園變遷篇
      .ui.grid
        .webView.eight.wide.column
          img.lazy.book(src='./img/special/special12.png', width='450px')
        .eight.wide.column
          a.btn(href='/data/special/special12.pdf', target='_blank') 閱覽PDF
    h2 共話當年－中興大學與鄰里居民互動的回憶
    .ui.grid
      .webView.eight.wide.column
        img.lazy.book(src='./img/special/special10.png', width='450px')
      .eight.wide.column
        p 中興大學從1919年創校至今，已將近百年。早先，校址設於臺北，稱作臺灣總督府農林專門學校。1943年，遷校至臺中南郊的頂橋仔，幾經改制、升格，一晃眼，已走過七十幾個年頭。臺中南郊原先是一望無際的田野，伴隨著省立農學院的發展，人煙日益稠密，逐漸形成都市化的景觀。
        p 從省立農學院到中興大學，學校並非孤立地在南郊發展，它與鄰里居民之間有各種互動，然而，這類來自圍牆外的校史訊息，通常都被忽略了。其實，透過鄰里居民的視角，可以看到不同面向的興大。本書結合了校史文獻與里民訪談，生動地再現了「農學院」昔日的風光，也鉤勒了「興大康橋特區」的遠景。
        a(href='https://48688.cashier.ecpay.com.tw/product/15285', target='_blank') 購買連結
    // - h2 漫畫校史2－圖書館篇
      .ui.grid
        .webView.eight.wide.column
          img.lazy.book(src='./img/special/special11.jpg', width='450px')
        .eight.wide.column
          a.btn(href='/data/special/special11.pdf', target='_blank') 閱覽PDF
    h2 興大校史小故事－中興湖篇
      .ui.grid
        .webView.eight.wide.column
          img.lazy.book(src='./img/special/special3.jpg', width='450px')
        .eight.wide.column
          a.btn(href='/data/special/special3.pdf', target='_blank') 閱覽PDF
    // - h2 漫畫校史1－中興湖篇
      .ui.grid
        .webView.eight.wide.column
          img.lazy.book(src='./img/special/special9.jpg', width='450px')
        .eight.wide.column
          a.btn(href='/data/special/special9.pdf', target='_blank') 閱覽PDF
    h2 興大七十年
    .ui.grid
      .webView.eight.wide.column
        img.lazy.book(src='./img/special/special4.png', width='450px')
      .eight.wide.column
        ol PDF下載
          li
            a(href='/data/special/special4_1.pdf', target='_blank') 序
          li
            a(href='/data/special/special4_2.pdf', target='_blank') 目錄
          li
            a(href='/data/special/special4_3.pdf', target='_blank') 第一章創校沿革
          li
            a(href='/data/special/special4_4.pdf', target='_blank') 第二章院部的成立與發展
          li
            a(href='/data/special/special4_5.pdf', target='_blank') 第三章教學與出版
          li
            a(href='/data/special/special4_6.pdf', target='_blank') 第四章訓育與輔導
          li
            a(href='/data/special/special4_7.pdf', target='_blank') 第五章學術交流與建教合作
          li
            a(href='/data/special/special4_8.pdf', target='_blank') 第六章校園發展
          li
            a(href='/data/special/special4_9.pdf', target='_blank') 第七章未來發展

    h2 2012似水劉年－劉道元教授紀念集
    .ui.grid
      .webView.eight.wide.column
        img.lazy.book(src='./img/special/special5.jpg', width='450px')
      .eight.wide.column
        a.btn(href='/data/special/special5.pdf', target='_blank') 閱覽PDF
    h2 興大實錄：國立中興大學九十週年校史(1919~2009)
    .ui.grid
      .webView.eight.wide.column
        img.lazy.book(src='./img/special/special6.jpg', width='450px')
      .eight.wide.column
        ol PDF下載
          li
            a(href='/data/special/special6_1.pdf', target='_blank') 序目錄
          li
            a(href='/data/special/special6_2.pdf', target='_blank') 大事紀
          li
            a(href='/data/special/special6_3.pdf', target='_blank') 人物志
          li
            a(href='/data/special/special6_4.pdf', target='_blank') 大供養
          li
            a(href='/data/special/special6_5.pdf', target='_blank') 校園篇
          li
            a(href='/data/special/special6_6.pdf', target='_blank') 生活篇
          li
            a(href='/data/special/special6_7.pdf', target='_blank') 生態篇
          li
            a(href='/data/special/special6_8.pdf', target='_blank') 編號與參考資料與附表

    h2 興大實錄：國立中興大學九十週年校史 圖文集(1919~2009)
    .ui.grid
      .webView.eight.wide.column
        img.lazy.book(src='./img/special/special7.jpg', width='450px')
      .eight.wide.column
        ol PDF下載
          li
            a(href='/data/special/special7_1.pdf', target='_blank') 序目錄
          li
            a(href='/data/special/special7_2.pdf', target='_blank') 大事紀
          li
            a(href='/data/special/special7_3.pdf', target='_blank') 人物志
          li
            a(href='/data/special/special7_4.pdf', target='_blank') 校園篇
          li
            a(href='/data/special/special7_5.pdf', target='_blank') 生活篇
          li
            a(href='/data/special/special7_6.pdf', target='_blank') 生態篇
          li
            a(href='/data/special/special7_7.pdf', target='_blank') 編後語、附表及參考資料

    h2 檔案中的校園變遷
    .ui.grid
      .webView.eight.wide.column
        img.lazy.book(src='./img/special/special8.jpg', width='450px')
      .eight.wide.column
        ol PDF下載
          li
            a(href='/data/special/special8_1.pdf', target='_blank') 序目錄
          li
            a(href='/data/special/special8_2.pdf', target='_blank') 沿革篇
          li
            a(href='/data/special/special8_3.pdf', target='_blank') 勸學篇
          li
            a(href='/data/special/special8_4.pdf', target='_blank') 建設篇(校史軼聞)
          li
            a(href='/data/special/special8_5.pdf', target='_blank') 建設篇(篳路藍縷)
          li
            a(href='/data/special/special8_6.pdf', target='_blank') 建設篇(校景變遷)
          li
            a(href='/data/special/special8_7.pdf', target='_blank') 建設篇(法商學院側記)
          li
            a(href='/data/special/special8_8.pdf', target='_blank') 建設篇(生活校園)
          li
            a(href='/data/special/special8_9.pdf', target='_blank') 封底
block js
  script(src='./js/special.js')
