.topSection
  .overlay#original
    .ui.stackable.secondary.menu
      a.ui.item(href='index.html')
        i.home.icon
        | Home
      a.ui.item
        | Messages
      a.ui.item
        | Friends
      .ui.item
        .ui.icon.input
          input(type='text', placeholder='Search...')
          i.search.link.icon
