#emblem, #word {
  p {
    font-size: 18px;
  }
}
#emblem {
  img {
    width: 100%;
  }
  .context {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#flag {
  img {
    width: 100%;
  }
  p {
    font-size: 18px;
  }
  .context {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#word {
  img {
    display: block;
    margin: 0px auto;
  }
  .motto {
    text-align: center;
    margin-bottom: 20px;
  }
}
<<<<<<< HEAD
#flowertree {
  img {
      width: 100%;
  }
  p {
    font-size: 18px;
  }

  .context {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
=======
@media screen and (max-width: 700px){
    .musescore{
      width: 0%;
      height: 0px;
    }
>>>>>>> 1de3a2df0ab22867934a17d10094addf1ece3621
}
