#outstanding {
	.title {
		position: center;
	}
	.ui.grid {
		margin-left: 5%;
	}
	.session {
		border-bottom: 3px #b1acac solid;
		margin-bottom: 25px;
	}
	.alumni_center {
		float: right;
	}
	
	.pic {
		position: relative;
		margin-bottom: 10px; 
		.alu-img {
			display: block;
			border-radius: 50%;
			margin: 0 auto 10px;
			width: 100%;
			max-width: 300px;
		}
		.alu-name {
			text-align: center;
			font-size: 1.4em;
		}
	}
	
}
	
