#bigNews {
  padding-top: 52px;
  #periods {
    text-align: center;
    button {
      font-size: 18px;
    }
  }
  .item-title {
    text-align: center;
  }
  i.fa {
    display: none;
    color: #fff !important;
    font-size: 35px;
    padding-top: 13px;
    padding-left: 14px;
    &.active {
      display: block;
    }
  }
  .cd-timeline-content {
    .timelineTitle {
      margin-top: 5px;
    }
    .media {
      margin: 0 auto;
      display: block;
      max-height: 250px;
    }
    .mediaCredit {
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: right;
      color: gray;
    }
    .mediaCaption {
      margin-top: 0px;
      margin-bottom: 0px;
      text-align: right;
    }
  }
  @media only screen and (max-width: 1170px) {
    i.fa {
      display: none;
      font-size: 25px;
      padding-top: 10px;
      padding-left: 8px;
    }
    .cd-date {
      margin-right: 5px;
      font-size: 15px;
    }
  }
}
