#logo {
  img {
    display: block;
    margin: 10px auto;
    max-width: 670px;
    width: 100%;
  }
}
.tab-nav {
  background-color: #333;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-size: 18px;
    li {
      a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 15px 20px;
        text-decoration: none;
      }
      &:hover {
        color: #fff;
        background-color: #111;
      }
    }
  }
}
#scrollMenu {
  display: none;
  z-index: 100;
  &.tab-nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #A2D5F2;
    ul {
      li {
        a:hover {
          background-color: #7dbadc;
        }
      }
    }
  }
}
