#special {
  a, p {
    font-size: 18px;
  }
  img {
    width: 100%;
  }
  .webView {
    display: flex;
    align-items: center;
  }
  p {
    text-indent: 2em;
  }
  .column {
    @media only screen and (max-width: 723px) {
      width: 100% !important;
      align-items: center;

    }
  }
  @media only screen and (max-width: 767px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
